{% extends "base.html.twig" %}


  {% block body %}
    <div class="row bg-light">
        <div class="col-12"><h1 class="text-primary">{{ question }}</h3></div>
    </div>
<div class="row bg-success">
       {{ form(form) }}
    </div>

{% endblock %}