{% extends "base.html.twig" %} 
  
  {% block body %}

{% if scores is empty %}
   Aucune score pour le moment !
   essayer un quiz ? 
<a href="/quiz">par ici !</a>

{% else %}
    {% for score in scores %}
     <h3> <a href="/quiz/{{score['id']}}">{{ score['name'] }} </a></h3><br>
     votre score etait de {{ score['score']}} 

     <br>
    {% endfor %}
{% endif %}

  {% endblock %}