{% extends "base.html.twig" %}


  {% block content %}





    <div class="row bg-warning">
        <div class="col-12">{{ question }}</div>
    </div>

<div class="row bg-success">
        <div class="col-12">

        {{ form_errors(form.name) }}
 {# {{ form_label(form.name) }}  #} 
{{ form_widget(form.name) }}
    </div>

{% endblock %}