{% extends "base.html.twig" %}

{% block body %}


 {% if app.user%} 



 {% if app.user.validated == 1 %} 

Bienvenue {{ app.user.username }} ! 
<br>
<a href="/create"> creer un quizz</a><br>
<a href="/user/{{app.user.id}}/edit"> modifier mon profil</a>



{% else %}
Votre compte n'est pas validé, veuiller vérifier vos emails.
 {% endif%}


{% else %}

Vous n'etes pas connecté
 {% endif%}

{% endblock %}