{% extends "base.html.twig" %}


{% block body %}


 {% if app.user%} 
{% if is_granted('ROLE_ADMIN') %}
    <a href="...">Delete</a>fregtry
{% endif %}



   {{ form(form)}}

{% else %}

Vous n'etes pas connecté
 {% endif%}


{% endblock %}






